{% extends "base.html" %}
{% load markdown_extras %}
{% block mainContent %}
      <div class="text-end p-3">
        <label class="switch" >
            <input type="checkbox"id="theme-switcher">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="main-content">

    <div class="container m-5">
        <img src="{{ post.image.url }}" alt="" class=" img-fluid rounded mx-auto d-block img_bigger" style="
    width: 100%;
    height:300px;
    background-size: cover;
    object-fit: cover;
    object-position: 70% 70%;
    border: 3px solid black;

    ">
        <hr class="mt-2">
        <button class="btn btn-outline-secondary " id="back">
            <a href="{% url 'blog_home' %}" id="remove-link-decoration">go back</a>
        </button>


        {% if user.is_authenticated %}
            <button class="btn btn-outline-secondary " id="edit">
                <a href="{{ post.pk }}/edit" id="remove-link-decoration">edit</a>
                <!--TODO make separate class for this button to remove the link color styling -->
            </button>
        {% endif %}


        <p></p>

        <div class="row">
            <div class="col-lg-10">
                <h1 class="display-2">{{ post.title }}</h1>
                <small>
                    {{ post.created_on }} | Categories:
                    {% for category in post.categories.all %}
                        <a href="#">{{ category.name }}</a>
                    {% endfor %}
                </small>

                <p>{{ post.body | markdown | safe }}</p>

            </div>
        </div>

    </div>
    </div>


{% endblock %}