{% extends "base.html" %}

{% block mainContent %}
    {% load static %}

    <div class="main-content">

        <div class="container text-center">
            <h1 class="display-1">
                <strong>Oh, hey!</strong><br/></h1>
            <h2 class="lead">So glad you could make it. You look great, by the way.</h2>
            <img class=" imgIcon p-1" src="{% static '/images/ethan-headshot_smaller.jpg' %}"
                 alt="A professional headshot">
            <p>My name is <strong>Ethan Shafran Moltz</strong> and I am a <strong>graduate student in computer
                science at New York
                University.</strong> On this site, I will attempt to impress you by showcasing my projects,
                experience, and a
                blog with career-related updates with what I am working on. </p>
            <p>

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut massa vitae lectus placerat
                molestie nec accumsan nulla. Phasellus vel aliquam ante, malesuada varius ante. Nullam ultricies
                justo cursus ante laoreet, iaculis tempor lacus pretium. Morbi luctus ligula eu diam sodales, vel
                facilisis diam ullamcorper. Praesent pharetra nec ex et efficitur. Pellentesque porttitor pulvinar
                lacus, quis vehicula ex imperdiet eu. Aliquam erat volutpat. Suspendisse potenti. Nam mattis
                vehicula ipsum ut hendrerit. Aenean placerat lectus non tincidunt tristique. Ut vel laoreet
                velit.</p>
        </div>
    </div>
    <canvas class="webgl"></canvas>










{% endblock %}