{% extends "base.html" %}

{% block mainContent %}
    {% load static %}
    <div class="darkbg container-fluid">
        <canvas class="webgl"></canvas>
        <!-- TODO make 3D image and import into project -->
        <section class="section">

            <div class="menuBarParent">
                <div class="windowTile">
                    <div class="windowTitleName">
                        Welcome!
                    </div>
                    <p class="menuBarBody">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu nisl id
                        tortor viverra gravida. Donec in
                        rutrum justo. Proin sem ligula, accumsan in gravida vitae, mattis sit amet velit. Maecenas
                        aliquam, arcu vel
                        sollicitudin semper, justo nisi consequat diam, sit amet aliquet quam felis at dui. Quisque
                        semper quis mi
                        in fermentum. Phasellus consectetur, est et suscipit finibus, tellus ligula aliquet ex, eget
                        consequat nisl
                        sem vitae massa. Ut risus turpis, pharetra non tellus quis, porta vestibulum lectus. In
                        tristique urna vel
                        nunc tincidunt sollicitudin. Morbi pellentesque, neque sed consequat aliquet, arcu dolor
                        dignissim quam, id
                        convallis sapien libero vel mauris. Duis mollis tempus dapibus. Sed in nisl diam. Proin lobortis
                        mauris at
                        ipsum porta lacinia. Nullam at ex mollis, ullamcorper risus at, porta urna.
                    </p>
                </div>
            </div>


        </section>

        <section class="section">
            <div class="menuBarParent">
                <div class="windowTile">
                    <div class="windowTitleName">
                        Welcome!
                    </div>
                    <p class="menuBarBody">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu nisl id
                        tortor viverra gravida. Donec in
                        rutrum justo. Proin sem ligula, accumsan in gravida vitae, mattis sit amet velit. Maecenas
                        aliquam, arcu vel
                        sollicitudin semper, justo nisi consequat diam, sit amet aliquet quam felis at dui. Quisque
                        semper quis mi
                        in fermentum. Phasellus consectetur, est et suscipit finibus, tellus ligula aliquet ex, eget
                        consequat nisl
                        sem vitae massa. Ut risus turpis, pharetra non tellus quis, porta vestibulum lectus. In
                        tristique urna vel
                        nunc tincidunt sollicitudin. Morbi pellentesque, neque sed consequat aliquet, arcu dolor
                        dignissim quam, id
                        convallis sapien libero vel mauris. Duis mollis tempus dapibus. Sed in nisl diam. Proin lobortis
                        mauris at
                        ipsum porta lacinia. Nullam at ex mollis, ullamcorper risus at, porta urna.
                    </p>
                </div>
            </div>

        </section>

        <section class="section">
            <div class="menuBarParent">
                <div class="windowTile">
                    <div class="windowTitleName">
                        Welcome!
                    </div>
                    <p class="menuBarBody">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu nisl id
                        tortor viverra gravida. Donec in
                        rutrum justo. Proin sem ligula, accumsan in gravida vitae, mattis sit amet velit. Maecenas
                        aliquam, arcu vel
                        sollicitudin semper, justo nisi consequat diam, sit amet aliquet quam felis at dui. Quisque
                        semper quis mi
                        in fermentum. Phasellus consectetur, est et suscipit finibus, tellus ligula aliquet ex, eget
                        consequat nisl
                        sem vitae massa. Ut risus turpis, pharetra non tellus quis, porta vestibulum lectus. In
                        tristique urna vel
                        nunc tincidunt sollicitudin. Morbi pellentesque, neque sed consequat aliquet, arcu dolor
                        dignissim quam, id
                        convallis sapien libero vel mauris. Duis mollis tempus dapibus. Sed in nisl diam. Proin lobortis
                        mauris at
                        ipsum porta lacinia. Nullam at ex mollis, ullamcorper risus at, porta urna.
                    </p>
                </div>
            </div>

        </section>


        {#                <section class="section">#}
        {#                    <h1 class="display-1 sectionHeading">My Portfolio</h1>#}
        {#                    <div class="description">#}
        {#                        Hello#}
        {#                    </div>#}
        {#                </section>#}
        {#                <section class="section">#}
        {#                    <h1 class="display-1 sectionHeading">My Projects</h1>#}
        {#                </section>#}
        {#                <section class="section">#}
        {#                    <h1 class="display-1 sectionHeading">Contact me</h1>#}
        {#                </section>#}
    </div>











{% endblock %}