{% extends "base.html" %}

{% block mainContent %}
    {% load static %}
    <div class="darkbg container-fluid">
        <canvas class="webgl"></canvas>
        <!-- TODO make 3D image and import into project -->
        <section class="section">

            <div class="menuBarParent">
                <div class="windowTile">
                    <div class="windowTitleName">
                        Welcome!
                    </div>
                    <p class="menuBarBody">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu nisl id
                        tortor viverra gravida. Donec in
                        rutrum justo. Proin sem ligula, accumsan in gravida vitae, mattis sit amet velit. Maecenas
                        aliquam, arcu vel
                        sollicitudin semper, justo nisi consequat diam, sit amet aliquet quam felis at dui. Quisque
                        semper quis mi
                        in fermentum. Phasellus consectetur, est et suscipit finibus, tellus ligula aliquet ex, eget
                        consequat nisl
                        sem vitae massa. Ut risus turpis, pharetra non tellus quis, porta vestibulum lectus. In
                        tristique urna vel
                        nunc tincidunt sollicitudin. Morbi pellentesque, neque sed consequat aliquet, arcu dolor
                        dignissim quam, id
                        convallis sapien libero vel mauris. Duis mollis tempus dapibus. Sed in nisl diam. Proin lobortis
                        mauris at
                        ipsum porta lacinia. Nullam at ex mollis, ullamcorper risus at, porta urna.
                    </p>
                </div>
            </div>


        </section>

        <section class="section">
            <div class="text-box">

                <h1 class="display1 sectionHeading">Part 2!</h1>
                <div class="container">
                    <div class="description-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ante justo, varius vitae
                        dui
                        eu, porta varius dolor. Vestibulum imperdiet nisl nec ullamcorper volutpat. Proin varius
                        accumsan
                        orci, vitae maximus nibh. Nulla facilisi. Pellentesque sit amet mi sit amet enim maximus
                        pulvinar ac
                        nec tortor. Curabitur placerat iaculis ex in efficitur. Fusce porta, lorem et semper maximus,
                        dui
                        enim rutrum sem, eget eleifend nulla velit nec lacus. Vestibulum venenatis vitae tortor sit amet
                        sodales.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ante justo, varius vitae
                        dui
                        eu, porta varius dolor. Vestibulum imperdiet nisl nec ullamcorper volutpat. Proin varius
                        accumsan
                        orci, vitae maximus nibh. Nulla facilisi. Pellentesque sit amet mi sit amet enim maximus
                        pulvinar ac
                        nec tortor. Curabitur placerat iaculis ex in efficitur. Fusce porta, lorem et semper maximus,
                        dui
                        enim rutrum sem, eget eleifend nulla velit nec lacus. Vestibulum venenatis vitae tortor sit amet
                        sodales.
                    </div>
                </div>
            </div>

        </section>

        <section class="section">
            <div class="text-box">
                <h1 class="display1 sectionHeading">Part 3!</h1>
                <div class="container">
                    <div class="description-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ante justo, varius vitae
                        dui
                        eu, porta varius dolor. Vestibulum imperdiet nisl nec ullamcorper volutpat. Proin varius
                        accumsan
                        orci, vitae maximus nibh. Nulla facilisi. Pellentesque sit amet mi sit amet enim maximus
                        pulvinar ac
                        nec tortor. Curabitur placerat iaculis ex in efficitur. Fusce porta, lorem et semper maximus,
                        dui
                        enim rutrum sem, eget eleifend nulla velit nec lacus. Vestibulum venenatis vitae tortor sit amet
                        sodales.
                    </div>
                </div>

            </div>

        </section>


        {#                <section class="section">#}
        {#                    <h1 class="display-1 sectionHeading">My Portfolio</h1>#}
        {#                    <div class="description">#}
        {#                        Hello#}
        {#                    </div>#}
        {#                </section>#}
        {#                <section class="section">#}
        {#                    <h1 class="display-1 sectionHeading">My Projects</h1>#}
        {#                </section>#}
        {#                <section class="section">#}
        {#                    <h1 class="display-1 sectionHeading">Contact me</h1>#}
        {#                </section>#}
    </div>











{% endblock %}